<!-- FOOTER -->
 

<hr class="featurette-divider-2">

  <div class="container-xxl">
  <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5">
    <div class="col mb-3">
      <a href="index.html" class="d-flex align-items-center mb-3 link-body-emphasis text-decoration-none">
        <img src="img/kc-mfb-logo-icon.png" width="30" height="30">
      </a>
      <p class="text-body-secondary">&copy; 2024 KC Microfinance Bank</p>
    </div>


    <div class="col mb-3">
      <h5>Loans</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="kc-micro-loans.html" class="nav-link p-0 text-body-secondary">KC Micro Loans</a></li>
        <li class="nav-item mb-2"><a href="kc-sme-loans.html" class="nav-link p-0 text-body-secondary">KC SME Loans</a></li>
        <li class="nav-item mb-2"><a href="kc-asset-finance.html" class="nav-link p-0 text-body-secondary">KC Asset Finance</a></li>
        <li class="nav-item mb-2"><a href="k-moni.html" class="nav-link p-0 text-body-secondary">K Moni</a></li>
        <li class="nav-item mb-2"><a href="kc-salary-plus.html" class="nav-link p-0 text-body-secondary">KC Salary Plus</a></li>
        <li class="nav-item mb-2"><a href="kc-school-struct.html" class="nav-link p-0 text-body-secondary">KC School Struct</a></li>
      </ul>
    </div>

    <div class="col mb-3">
      <h5>Investments</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary"></a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary"></a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary"></a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary"></a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary"></a></li>
      </ul>
    </div>

    <div class="col mb-3">
      <h5>Savings</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary"></a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary"></a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary"></a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary"></a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary"></a></li>
      </ul>
    </div>

    <div class="col mb-3">
      <p class="float-end"><a href="#">Back to top</a></p>
    </div>
  </footer>
</div>