 <header data-bs-theme="light">
    <nav class="navbar navbar-expand-xxl fixed-top bg-danger-subtle">
      <div class="container-xxl">
        <a class="navbar-brand active" aria-current="page" href="index.html">
          <img src="img/kc-mfb-logo.png" alt="KC MFB Home Page" class="logo">
        </a>
        <button class="navbar-toggler border-danger border-2 py-1 px-2 rounded-3" type="button" data-bs-toggle="offcanvas" data-bs-target="#navbarOffcanvasLg" aria-controls="navbarOffcanvasLg" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-start" tabindex="-1" id="navbarOffcanvasLg" aria-labelledby="navbarOffcanvasLgLabel">
          <div class="offcanvas-header">
            <a href="index.html" class="text-inverse"><img src="img/kc-mfb-off-canvas.png" class="img-fluid" alt="KC MFB Home Page"></a>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>

          <div class="offcanvas-body">


          <ul class="navbar-nav me-auto mb-2 mb-md-0 ">
            <li class="nav-item">
              <a class="nav-link active link-danger link-opacity-50-hover" aria-current="page" href="index.html">Home</a>
            </li>

            <li class="nav-item dropdown mb-1">
              <a class="nav-link dropdown-toggle" href="#" id="loanProductsDropdown" data-bs-toggle="dropdown" aria-expanded="false">Loan Products</a>
              <ul class="dropdown-menu" aria-labelledby="loanProductsDropdown">
                <li><a class="dropdown-item" href="kc-micro-loans.html">KC Micro Loans</a></li>
                <li><a class="dropdown-item" href="kc-sme-loans.html">KC SME Loans</a></li>
                <li><a class="dropdown-item" href="kc-asset-finance.html">KC Asset Finance</a></li>
                <li><a class="dropdown-item" href="k-moni.html">K Moni</a></li>
                <li><a class="dropdown-item" href="kc-salary-plus.html">KC Salary Plus</a></li>
                <li><a class="dropdown-item" href="kc-school-struct.html">KC School Struct</a></li>
              </ul>
            </li>
            
            <li class="nav-item dropdown mb-1">
              <a class="nav-link dropdown-toggle" href="#" id="investmentProductsDropdown" data-bs-toggle="dropdown" aria-expanded="false">Investment Products</a>
              <ul class="dropdown-menu" aria-labelledby="investmentProductsDropdown">
                <li><a class="dropdown-item" href="kc-high-yield-investment-notes.html">KC High-Yield Investment Notes</a></li>
                <li><a class="dropdown-item" href="kc-asset-plus-notes.html">KC Asset Plus Notes</a></li>
              </ul>
            </li>

            <li class="nav-item dropdown mb-1">
              <a class="nav-link dropdown-toggle" href="#" id="savingsDropdown" data-bs-toggle="dropdown" aria-expanded="false">Savings</a>
              <ul class="dropdown-menu" aria-labelledby="savingsDropdown">
                <li><a class="dropdown-item" href="kc-savings-account.html">KC Savings Account</a></li>
                <li><a class="dropdown-item" href="kc-target-savings-account.html">KC Target Savings Account</a></li>
                <li><a class="dropdown-item" href="kc-kiddies-account.html">KC Kiddies Account</a></li>
                <li><a class="dropdown-item" href="kc-current-account.html">KC Current Account</a></li>
                <li><a class="dropdown-item" href="kc-zip-up-savings-account.html">KC Zip-up Savings Account</a></li>
              </ul>
            </li>

            <li class="nav-item dropdown mb-1">
              <a class="nav-link dropdown-toggle" href="#" id="aboutUsDropdown" data-bs-toggle="dropdown" aria-expanded="false">About Us</a>
              <ul class="dropdown-menu" aria-labelledby="aboutUsDropdown">
                <li><a class="dropdown-item" href="about-us.html">Our Why</a></li>
                <li><a class="dropdown-item" href="our-board.html">Our Board</a></li>
                <li><a class="dropdown-item" href="our-management-team.html">Our Management Team</a></li>
              </ul>
            </li>

          </ul>

          <hr class="featurette-divider-2">

          <div class="justify-content-between ">
              <a href="https://ibank.kcmfb.com/auth/sign-in" class="btn btn-outline-success me-2 me-md-2 btn-md">Internet Banking</a>
              <a href="https://ibank.kcmfb.com/auth/corporate-sign-in" class="btn btn-danger ms-5 ms-xxl-0 btn-md">Corporate Banking</a>
          </div>
        </div>
        </div>
      </div>
    </nav>
  </header>   