<div class="container-xxl py-5">
  <div class="mb-4 row align-items-md-stretch text-center text-md-start">
      <div class="col-md-6 mb-3 mb-md-0">
        <div class="h-100 p-5 text-bg-light border rounded-3">
          <h2>Open a Personal Account</h2>
          <p>We understand that managing your personal finances is crucial for your peace of mind and financial well-being. Our personal accounts are designed to provide you with convenient and flexible banking solutions to meet your daily financial needs.</p>
          <a href="https://ibank.kcmfb.com/auth/sign-in" class="btn btn-danger me-2 me-md-2 btn-md">Internet Banking</a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="h-100 p-5 text-bg-dark border rounded-3">
          <h2>Open a Corporate Account</h2>
          <p>Our corporate accounts are specifically designed to help you manage your business finances efficiently and effectively. Whether you're a startup, small business, or established enterprise, we have the right account to suit yqrrour needs.</p>
          <a href="https://ibank.kcmfb.com/auth/corporate-sign-in" class="btn btn-outline-success">Corporate Banking</a>
        </div>
      </div>
    </div>
  </div>